*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:cursive;
  }
  #header {
    width: 100%;
    height: 70px;
    background-color: #2f3640;
  }
  #header {
    color: white;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    position: fixed;
  }
  #sidebar {
    width: 20%;
    background-color: #2f3640;
    height: 100%;
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: -100%;
    transition: 0.6s;
  }
  #sidebar ul {
    list-style: none;
  }
  
  #sidebar li {
  }
  #sidebar a {
    text-decoration: none;
  }
  #sidebar span {
    color: white;
    line-height: 40px;
    font-size: 24px;
  }
  #sidebar i {
    font-size: 30px;
    color: white;
    margin: 0 20px;
    line-height: 40px;
  }
  #chk {
    visibility: hidden;
  }
  #show-btn,
  #hide-btn {
    position: fixed;
    font-size: 30px;
    color: white;
    top: 20px;
    left: 20px;
    transition: .6s;
  }
  #hide-btn {
    visibility: hidden;
  }
  #chk:checked ~ #show-btn {
    visibility: hidden;
  }
  #chk:checked ~ #hide-btn {
    visibility: visible;
  }
  
  #chk:checked ~ #sidebar {
    left: 0px;
  }
  .social {
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .social i {
    padding: 10px 0;
    font-size: 30px;
    color: white;
    float: left;
  }
  .bodycontent {
    text-align: justify;
    float: right;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 70px;
    font-size: 20px;
    transition: 0.6s;
  }
  #chk:checked ~ .bodycontent {
    width: 80%;
  }
  @media (max-width: 1200px) {
    #sidebar {
      width: 23%;
      transition: 0.6s;
    }
    .bodycontent{
      transition: 0.6s;
    }
    #chk:checked~.bodycontent{
      width: 77%;
      padding: 5px;
      transition: 0.6s;
    }
  }
  @media (max-width: 1000px) {
    #sidebar {
      width: 25%;
      transition: 0.6s;
    }
    #chk:checked~.bodycontent{
      width: 75%;
      padding: 5px;
    }
  }
  @media (max-width: 900px) {
    #sidebar {
      width: 30%;
      transition: 0.6s;
    }
    #chk:checked~.bodycontent{
      width: 70%;
      padding: 5px;
    }
  }
  @media (max-width: 500px) {
    #sidebar {
      width: 100%;
    }
    #header{
      padding:0 20px;
      text-align:right;
    }
  }